<% if message.present? %>
  <% message.each do |m| %>
    <% if m.user_id == current_user.id %>
      <div class="message-exhibitor left-message clearfix">
        <div class="left-message__name">
          <%# KA %>
          <%= m.user.nickname %>
        </div>
        <div class="left-message__content">
          <p> 
            <%# 料理体験お楽しみに %>
            <%= m.content %>
          </p>
          <%# <%= image_tag message.image.url, class: 'left-message__image' if message.image.present? %> 
        </div>
        <div class="left-message__date">
          <%# 2020/01/27(Mon) 00:31:45に送信 %>
          <%= m.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
        </div>
      </div>
    <% else %>
      <div class="message-participant right-message clearfix">
        <div class="right-message__name">
          <%# MATSU %>
          <%= m.user.nickname %>
        </div>
        <div class="right-message__content">
          <p> 
            <%# 料理体験も気軽にできるし、食べることもできて最高！ %>
            <%= m.content %>
          </p>
          <%# <%= image_tag message.image.url, class: 'left-message__image' if message.image.present? %> 
        </div>
        <div class="right-message__date">
          <%# 2020/01/27(Mon) 01:05:50に送信 %>
          <%= m.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
<% end %>

