<div class="exhibit-container">
  <%= render partial: 'shared/main_header' %>
</div>
<div class="l-container clearfix"> 
  <div class="dm-content">
    <div class="dmroom-header">
      <div class="dmroom-header__title">
        <%= @user.nickname + 'さんとの会話'%>
      </div>
    </div>

    <div class="dmroom-middle clearfix">
      <div class="message-exhibitor left-message clearfix">
        <div class="left-message__name">
          KA
        </div>
        <div class="left-message__content">
          料理体験お楽しみに！
        </div>
        <div class="left-message__date">
          2020/01/27(Mon) 00:31:45に送信
        </div>
      </div>
      <div class="message-participant right-message clearfix">
        <div class="right-message__name">
          MATSU
        </div>
        <div class="right-message__content">
          料理体験も気軽にできるし、食べることもできて最高！
        </div>
        <div class="right-message__date">
          2020/01/27(Mon) 01:05:50に送信
        </div>
      </div>
    </div>
    <div class="dmroom-form">
      <form class="new-message">
        <label for="message"></label><br>
        <textarea class="text-message" placeholder="出展者と語り合おう！">
        </textarea> 
        <button type='submit' name='action' value='send' class="btn-default btn-green message-submit">送信</button>
      </form>
      <%# コントローラー作成したら解放 %>
      <%# <%= form_for @message do |f|%>
        <%# <%= f.text_area :content, placeholder: "出展者と語り合おう！", class: "message-text"%>
        <%# <i class="fas fa-file-image"></i>
        <%= f.submit '送信', class: "message-submit"%>
      <%# <% end %>
    </div>
  </div>
  <%# 部分テンプレートのサイドメニューを呼び出し %>
  <%= render partial: 'shared/sidebar' %>
</div>