<div class="exhibit-container">
  <%= render partial: 'shared/main_header' %>
</div>
<div class="l-container clearfix"> 
  <div class="dm-content">
    <div class="dmroom-header">
      <div class="dmroom-header__title">
        <%= @user.nickname + 'さんとの会話'%>
      </div>
    </div>

    <div class="dmroom-middle clearfix">
     <%= render partial: 'messages/form' ,locals: { message: @messages } %>
     binding.pry
    </div>
    <div class="dmroom-form">
      <div class="new-message">
        <%# messagesのルーティングがeventsにネストされているため、本アプリでは、あるイベントに属しているメッセージという親子関係があります %>
        <%# form_forの第１引数@eventにはどのイベントのメッセージとして保存したいのか、第２引数@messageにはMessageモデルのからのインスタンス（Message.new）をあらかじめセット %>
        <%= form_for [@event, @message] do |f|%>
          <%= f.text_area :content, placeholder: "出展者と語り合おう！", class: "text-message"%>
          <%= f.label :image, class: "upload-image" do%>
            <i class="fas fa-file-image"></i>
            <%= f.file_field :image, class: 'hidden'%>
          <% end %>
          <%# <%= f.hidden_field :event_id, value: "#{@event.id}"%> 
          <%= f.submit '送信', class: "btn-default btn-green message-submit"%>
        <% end %>
      </div>
    </div>
  </div>
  <%# 部分テンプレートのサイドメニューを呼び出し %>
  <%= render partial: 'shared/sidebar' %>
</div>