<div class="header-container">
  <div class="join-menu">
    <%# 仮でイベント詳細ページに遷移、のちにイベント一覧ページを作成し、遷移先を変更 %>
    <% if user_signed_in? %> 
      <%= link_to root_path, class: "join-btn" do %>
        <i class="fas fa-home"></i>
        <span>ホーム</span>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "join-btn" do %>
      <i class="fas fa-home"></i>
      <span>ホーム</span>
      <% end %>
    <% end %>
  </div>
    <% if user_signed_in? %> 
      <%# ログイン時 %>
      <div class="nav-menu">
        <div class="user-information">
          <%# ここはマイページ画面に遷移するパスを入れる予定 %>
          <%= link_to user_path(id: current_user.id), class:"user-icon" do %>
            <%# あとでここにアイコンの写真が入るようにする %>
            <% if current_user.icon.nil? %>
              <%= image_tag 'mrkr-icon.png' %>
            <% else %>
              <%= image_tag current_user.icon %>
            <% end %>
          <% end %>
        </div>
        <div class="user-information">
          <span><%= current_user.nickname %></span>
        </div>
        <%# 仮置きのクラス、あとでログアウトページも作る予定 %>
        <div class="user-logout">
         <%=  link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-default btn-green"%>        
      </div> 
    <% else %> 
      <%# 未ログイン時 %>
      <div class="nav-menu">
        <%= link_to '新規会員','/users/sign_up',class: "nav-menu__registration"%> 

        <%= link_to 'ログイン','/users/sign_in',class: "nav-menu__login"%>
      </div>
    <% end %>

</div>