<div class="event-side">
  <div class="event-side__detail">
    <div class="event-side__detail--images">
      <%= image_tag 'cookingimage1.png',style: "width: 280px; height: 250px;" %>
      <%# ここに複数のイベント写真を載せる予定 %>
      <div class="event-small-images">
        <%= image_tag 'cookingimage2.png' %>
      </div>
    </div>
    <div class="information-event_content-image2">
    </div>
    <table class="event-detail-table">
      <tbody>
        <tr>
          <th>出展者</th>
          <td>
            <%= link_to "#" do %>
              <span>KA</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>開催日程</th>
          <td>
            <div class="event-detail__date">
              2月29日（土）
            <div class="event-detail__time">
              18:30-20:30
          </td>
        </tr>
        <tr>
          <th>場所</th>
          <td>
            <div class="event-detail__place">
              地下鉄 明治神宮駅 徒歩3分
            </div>
          </td>
        </tr>
        <tr>
          <th>参加する人</th>
          <td>
            <div class="participants">
              <div class="photo-participants">
                <%= image_tag 'mrkr-icon.png' %>
                <span>momoko</span>
                <%= image_tag 'mrkr-icon.png' %>
                <span>tae</span>
                <%= image_tag 'mrkr-icon.png' %>
                <span>KA</span>
                <%= image_tag 'mrkr-icon.png' %>
                <span>ayumu</span>
                <%= image_tag 'mrkr-icon.png' %>
                <span>shinnosuke</span>
              </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="cooking">
              <div class="cooking-participants">
                料理する人
                <tr>
                <td>tae</td>
                <td>具材買い出しの手伝い</td>
                </tr>
                <tr>
                <td>momoko</td>
                <td>キャベツを切って下ゆでする</td>
                </tr>
                <tr>
                <td>KA</td>
                <td>玉ねぎ・人参をみじん切りする</td>
                </tr>
                <tr>
                <td>ayumu</td>
                <td>豚ひき肉と野菜を混ぜて肉ダネを作る</td>
                </tr>
                <tr>
                <td>tae</td>
                <td>肉ダネをキャベツで巻き出汁を取ったスープで茹でる</td>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>