<div class="exhibit-container">
  <%= render partial: 'shared/common_header' %>
</div>
<div class="payment-container">
  <section class="payment_details">
    <h2 class="payment_details__title">予約内容の確認</h2>
    <%# <form class="payment-form" name="cooking_details"> %>
    <%= form_for [@event,@entry],url: buy_event_path, method: :post, html: {class: "payment-form",id: 'charge-form', name: "cooking_details"} do |f| %>
    <%# <%= form_for @event, html: {class: "payment-form",id: 'charge-form', name: "cooking_details"} do |f| %>
      <section class="payment_summary">
        <div class="payment_summary-inner">
          <h3 class="payment_summary-inner__photo">
            <%= image_tag 'mrkr-icon.png' %>
          </h3>
          <div class="payment_summary-inner__right">
            <p class="payment_summary-inner__right__event-name">管理栄養士による晩ごはん提供イベント</p>
            <p class="payment_summary-inner__exhibitor">KA</p>
          </div>
        </div>
      </section>
      <section class="payment_summary">
        <div class="payment_summary-inner">
          <ul>
            <li>
              <i class="fas fa-calendar-alt"></i>
              2月29日(土) 18:30 - 20:30
            </li>
          </ul>
        </div>
      </section>
      <section class="payment_summary">
        <div class="payment_summary-inner">
          <i class="fas fa-map-marker-alt"></i>
          <div class="payment_summary-inner__place">
            <p class="payment_summary-inner__place__train">地下鉄線 明治神宮前駅 徒歩3分</p>
            <p class="payment_summary-inner__place__address">
            〒555-5555
            <br>
            東京都 渋谷区 松本1-12-13 まつビル</p>
          </div>
        </div>
      </section>
      <section class="cooking_summary">
        <div class="cooking_summary-inner">
          <div class= "middle-icon">
            <i class="fas fa-mitten"></i>
            <h1>やってみたい料理工程を選択してください（２つまで）</h1>
          </div>
          <table class="cooking_summary-inner__table" border="0">
            <tr>
            <td>レベル１(500円割引)</td>
            <td><input type="checkbox" name="c2" onclick="keisan();Climit();update_price()">具材買い出しの手伝い</td>
            </tr>
            <tr>
            <td>レベル２(1000円割引)</td>
            <td><input type="checkbox" name="c2" onclick="keisan();Climit();update_price()">キャベツを切って下ゆでする</td>
            </tr>
            <tr>
            <td>レベル３(1500円割引)</td>
            <td><input type="checkbox" name="c2" onclick="keisan();Climit();update_price()">玉ねぎ・人参をみじん切りする</td>
            </tr>
            <tr>
            <td>レベル４(2000円割引)</td>
            <td><input type="checkbox" name="c2" onclick="keisan();Climit();update_price()">豚ひき肉と野菜を混ぜて肉ダネを作る</td>
            </tr>
            <tr>
            <td>レベル５(2500円割引)</td>
            <td><input type="checkbox" name="c2" onclick="keisan();Climit();update_price()">肉ダネをキャベツで巻き出汁を取ったスープで茹でる</td>
            </tr> 
            <tr>
            <td>価格</td>
            <%# ここで出展の時に登録した価格を表示させる %>
            <td>￥
            <%= f.text_field :price, value: @event.price ,id: "price" ,type: "text", size: "40",class: 'input-field' %>
            <%# <input id="price" type="text" size="40" value="" > %>
            </td>
            </tr>
            <td><font color="#ff0000">■</font><b><font color="#ff0000">割引金額</font></b></td>
            <td>￥
            <%# <%= f.text_field :total, value: "0" ,id: "discount" ,type: "text", size: "40",class: 'input-field' %>
            <input id="discount" type="text" name="total" value="0" ></td>
            </tr>
          </table>
          <div class="event_reservation__price">
            イベント予約価格 ￥
            <span class="total" id="total" > </span>
          </div>
        </div>
      </section>
      <div class="event-reservation-btn">
        <script class="payjp-button" src="https://checkout.pay.jp/" type="text/javascript" data-key="pk_test_6ad853c00546da3289e5579b" data-text="予約を確定する"></script>
      </div>
    <% end %>
    <%# </form> %>
  </section>
  <section class="event_reservation payment_fixed-footer">
    <div class="event_reservation-inner">
      <%# <div class="event_reservation-inner__price">
        イベント予約価格 ￥<span id="total" value="update"> </span>
      </div> %>
    <%# <div class="event-reservation-btn"> %>
      <%# <%= form_for @event, url: buy_event_path, method: :post, html: {class: “event-reservation-form”} do |f| %>
        <%# <script class="payjp-button" ,src="https://checkout.pay.jp/" ,type="text/javascript" ,data-key= "ENV["PAYJP_KEY"]" ,data-text="予約を確定する"></script> %>
      <%# <% end %>
      <%# 本来は予約確定画面に遷移だが、一時的にイベント参加者チャット画面に遷移 %>
      <%# <%= link_to event_messages_path(current_user.id), class:"btn-default btn-green" do%>
        <%# 予約を確定する %>
      <%# <% end %>
    <%# </div> %>
    <div class="payment-method">
      <h2 class="l-left">
        支払い方法
      </h2>
      <%= link_to new_card_path(current_user.id), class:"card-info-fix" do%>
        変更する
        <i class="fas fa-arrow-right"></i>
      <% end %>
      <ul class="settings-payment-list">
        <li>
          <div class="l-step-content">
            <% if @card.present? %>
              <%# <i class="fab fa-cc-visa"></i> %>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?465897195", width="49", height="20">
              <br>
              <%= "**** **** **** " + @card_info.last4 %>
              <br>
                <%# 有効期限 %>
              <%= @exp_month + " / " + @exp_year %>
            <% else %>
              <%= " / " %>
            <% end %> 
          </div>
        </li>
      </ul>
    </div>
  </section> 
</div>
  