<div class="header-top">
  <%= render partial: 'shared/main_header' %>
</div>
<div class= "toppage-container">
  <div class= "middle-content">
    <h1 id= "toppage-logo" class= "toppage-logo">料理体験シェアマッチングアプリ</h1>
    <%= link_to root_path do %>
      <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 340.2 135.5" style="enable-background:new 0 0 340.2 135.5;" xml:space="preserve">
        <text x="0" y="50%">RYOUTOKU</text>
      </svg>       

    <% end %>
    <div class="slider">

    </div>
  </div>
  <div class="dm-index">
    <h3> 参加中のイベント一覧</h3>
    <%= link_to "#" do %>
      もっと見る
      <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
  <% if user_signed_in? %> 
    <div class="event-index">
      <ul class="event-index__list">
        <%# データベースから並べる時に使用 %>
        <% @anotherEntries.each do |entry| %>
          <%#<%= Message.find_by(id: entry.event.message_ids.last).content %> 
          <li class="event-index__item">  
            <%=link_to event_messages_path(entry.event),class: "dm-link" do %>
              <div class="event-box">
                <span><%= entry.event.prefecture.name %>
                </span>
                <%# 画像アップロードするエリア %>
                <%# <%= image_tag "ryouri2.jpeg" %> 
                <%= image_tag entry.event.images,class: "event-image"%>
              </div>
              <div class="event-title"> 
                <%= entry.event.title + ""%>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %> 
</div>


<%= render partial: 'shared/exhibit_btn'%> 
