<div class="header-top">
  <%= render partial: 'shared/main_header' %>
</div>
<div class= "toppage-container">
  <div class= "middle-content">
    <h1 id= "toppage-logo" class= "toppage-logo">料理体験シェアマッチングアプリ</h1>
    <%= link_to root_path do %>
      <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 340.2 135.5" style="enable-background:new 0 0 340.2 135.5;" xml:space="preserve">
        <text x="0" y="50%">RYOUTOKU</text>
      </svg>       

    <% end %>
    <div class="slider">

    </div>
  </div>
  <div class="dm-index">
    <h3> 肉料理新着イベント</h3>
    <%= link_to "#" do %>
      もっと見る
      <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
  <div class="event-index">
    <ul class="event-index__list">
      <%# データベースからカテゴリーごとに並べる時に使用 %>
      <% @meats.each do |meat| %>
        <%#<%= Message.find_by(id: entry.event.message_ids.last).content %> 
        <li class="event-index__item">  
          <%=link_to event_path(meat),class: "events-link" do %>
            <div class="event-box">
              <span><%= meat.prefecture.name %>
              </span>
              <%# 画像アップロードするエリア %>
              <%# <%= image_tag "ryouri6.jpeg" %>
              <% if meat.images.present? %> 
                <%= image_tag (meat.images.first.content.url)unless meat.images.first.content.nil? %>
              <% end %>
            </div>
            <div class="event-title"> 
              <%= meat.title + ""%>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div> 
  <div class="dm-index">
    <h3> ごはんもの新着イベント</h3>
    <%= link_to "#" do %>
      もっと見る
      <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
  <div class="event-index">
    <ul class="event-index__list">
      <%# データベースからカテゴリーごとに並べる時に使用 %>
      <% @rices.each do |rice| %>
        <%#<%= Message.find_by(id: entry.event.message_ids.last).content %> 
        <li class="event-index__item">  
          <%=link_to event_path(rice),class: "events-link" do %>
            <div class="event-box">
              <span><%= rice.prefecture.name %>
              </span>
              <%# 画像アップロードするエリア %>
              <%# <%= image_tag "ryouri6.jpeg" %>
              <% if rice.images.present? %> 
                <%= image_tag (rice.images.first.content.url)unless rice.images.first.content.nil? %>
              <% end %>
            </div>
            <div class="event-title"> 
              <%= rice.title + ""%>
            </div>  
          <% end %>
        </li>
      <% end %>
    </ul>
  </div> 
  <div class="dm-index">
    <h3> パン料理新着イベント</h3>
    <%= link_to "#" do %>
      もっと見る
      <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
  <div class="event-index">
    <ul class="event-index__list">
      <%# データベースからカテゴリーごとに並べる時に使用 %>
      <% @breads.each do |bread| %>
        <%#<%= Message.find_by(id: entry.event.message_ids.last).content %> 
        <li class="event-index__item">  
          <%=link_to event_path(bread),class: "events-link" do %>
            <div class="event-box">
              <span><%= bread.prefecture.name %>
              </span>
              <%# 画像アップロードするエリア %>
              <%# <%= image_tag "ryouri6.jpeg" %>
              <% if bread.images.present? %> 
                <%= image_tag (bread.images.first.content.url)unless bread.images.first.content.nil? %>
              <% end %>
            </div>
            <div class="event-title"> 
              <%= bread.title + ""%>
            </div>  
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="dm-index">
    <h3> スイーツ料理新着イベント</h3>
    <%= link_to "#" do %>
      もっと見る
      <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
  <div class="event-index">
    <ul class="event-index__list">
      <%# データベースからカテゴリーごとに並べる時に使用 %>
      <% @sweets.each do |sweet| %>
        <%#<%= Message.find_by(id: entry.event.message_ids.last).content %> 
        <li class="event-index__item">  
          <%=link_to event_path(sweet),class: "events-link" do %>
            <div class="event-box">
              <span><%= sweet.prefecture.name %>
              </span>
              <%# 画像アップロードするエリア %>
              <%# <%= image_tag "ryouri6.jpeg" %>
              <% if sweet.images.present? %> 
                <%= image_tag (sweet.images.first.content.url)unless sweet.images.first.content.nil? %>
              <% end %>
            </div>
            <div class="event-title"> 
              <%= sweet.title + ""%>
            </div>  
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="dm-index">
    <% if user_signed_in? %>
      <div>
        <%= @user.nickname + 'さんが参加中のイベント一覧' %>
      </div>
      <%= link_to "#" do %>
        もっと見る
        <i class="fas fa-chevron-right"></i>
      <% end %>
    <% end %>
  </div>
  <% if user_signed_in? %> 
    <div class="event-index">
      <ul class="event-index__list">
        <%# データベースから並べる時に使用 %> 
        <% @anotherEntries.each do |entry| %>
          <li class="event-index__item">  
            <%=link_to event_messages_path(entry.event),class: "events-link" do %>
              <div class="event-box">
                <span><%= entry.event.prefecture.name %>
                </span>
                <%# 画像アップロードするエリア %>
                <%= image_tag(entry.event.images.first.content.url)unless entry.event.images.first.content.nil? %>
              </div>
              <div class="event-title"> 
                <%= entry.event.title + ""%>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %> 
</div>


<%= render partial: 'shared/exhibit_btn'%> 
