<div class="exhibit-container">
  <%= render partial: 'shared/main_header' %>
</div>
<div class="event-container">
  <div class="event-content">
    <div class="event-content__title">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>イベントを作る！</span>
      <%# ユーザーログイン機能を作成したらform_withを使う %>
    </div>
    <%= form_for @event do |f| %>
      <div class="event-images">
        <div class="event-images__title">
          <label>出展画像
          <span>必須</span>
        </div>
        <p class="event-images__text">
          最大５枚までアップロードできます
        </p>
        <%# 画像アップロードするエリア %>
        <div id="image-box-1">
          <div class="dropzone-container event-num-0 clearfix" id="image-box__container" >
            <%= f.fields_for :images do |i|%>
              <%# <%= f.label :content,for:"img-file" %>
              <%= i.file_field :content,name: "event[images_attributes][][content]",value:"",style: "display:none",type: "file",id:"img-file" %>
              <label for="img-file">
                <i class="fas fa-camera"></i>
            <% end %>
          </div>
        </div>
        <div class="event-images__name">
          <%= f.label :イベント名 %>
          <span class="icon-default">必須</span><br>
          <%= f.text_area :title, class: 'input-default', placeholder: 'ここにイベント名を入力（４０文字以内）' %>
        </div>
        <div class="event-images__description">
          <%= f.label :イベントの説明 %>
          <span class="icon-default">必須</span><br>
          <%= f.text_area :description, class:'input-default description-box', placeholder: 'ここにイベントの説明を入力' %>
        </div>
        <div class="event-images-category">
          <%= f.label :カテゴリー %>
          <span class="icon-default">必須</span><br>
          <div class="event-images-category__detail category-add">
            <%= f.collection_select :category_id,@parents, :id, :name, {include_blank: "---"},class:'select-default', id: "parent-form",name: "event[category_id][]" %>
          </div>
          <div class="detail-add-content">
          </div>
          <div class="detail-add-content2">
          </div>
        <div class="event-images-exhibit-area">
          <%= f.label :出展地域 %>
          <span class="icon-default">必須</span><br>
          <div class="event-images-exhibit-area__detail">
            <%= f.collection_select :prefecture_id,Prefecture.all, :id, :name, {include_blank: "---"},class:'select-default' %>
          </div>
        </div>
        <div class="event-images-capacity">
          <%= f.label :参加人数 %>
          <span class="icon-default">必須</span><br>
          <div class="event-images-capacity__detail">
            <%# {}を挟むとclassを読み込んでくれる %>
            <%= f.select :capacity,[["---","---"],[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10]],{},{class:'select-default'} %>
          </div>
        </div>
        <div class="event-exhibit-btn">
          <%= f.submit '出展', class: "btn-default btn-green"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
