<div class="exhibit-container">
  <%= render partial: 'shared/main_header' %>
</div>
<div class="event-container">
  <div class="event-content">
    <div class="event-content__title">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>イベントを作る！</span>
      <%# ユーザーログイン機能を作成したらform_withを使う %>
    </div>
    <%= form_for @event, class: "form", id: "event-form" do |f| %>
      <div class="event-images">
        <div class="event-images__title">
          <label>出展画像
          <span>必須</span>
        </div>
        <p class="event-images__text">
          最大５枚までアップロードできます
        </p>
        <%# 画像アップロードするエリア %>
        <div id="image-box-1">
          <div class="dropzone-container event-num-0 clearfix" id="image-box__container" >
            <%= f.fields_for :images do |i|%>
                <%= i.file_field :image,name: "event[images_attributes][][image]",value:"",style: "display:none",type: "file",id:"img-file" %>
                <%# <label for:"img-file"> %>
                <label for="img-file">
                  <i class="fas fa-camera"></i>
            <% end %>
          </div>
        </div>
        <div class="event-images__name">
          <%= f.label :イベント名 %>
          <span class="icon-default">必須</span><br>
          <%= f.text_area :title, class: 'input-default', placeholder: 'ここにイベント名を入力（４０文字以内）' %>
        </div>
        <div class="event-images__description">
          <%= f.label :イベントの説明 %>
          <span class="icon-default">必須</span><br>
          <%= f.text_area :description, class:'input-default description-box', placeholder: 'ここにイベントの説明を入力' %>
        </div>
        <div class="event-exhibit-btn">
          <%= f.submit '出展', class: "btn-default btn-green"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
