<div class="event-container">
    <%= render partial: 'shared/main_header' %>
</div>

<section class="event-box-container">
  <div class="header-icon">
    <i class="fas fa-mitten"></i>
  </div>
  <h1 class="event-name">管理栄養士による晩ごはん提供イベント</h1>
    <p class="event-name__description">
      <%# 仮の説明書き（のちにサーバーサイドで編集） %>
      前半で一緒に季節のお野菜やお魚を使い、料理工程の一部を体験しながら、晩ごはんを作ります。
      前半で作った料理を後半でご提供です。お楽しみに！
    </p>
  <div class="event-name__detail">
    <div class="event-name__detail--image">
      <div class="information-event_first-image">
        <%= image_tag 'cookingimage1.png',style: "width: 300px; height: 250px;" %>
        <%# ここに複数のイベント写真を載せる予定 %>
        <div class="event-images">
          <%= image_tag 'cookingimage2.png' %>
        </div>
      </div>
      <div class="information-event_content-image2">
      </div>
    </div>
    <div class="event-name__detail--price clearfix">
      <span class="event_upper-row__price">¥ 5,000</span>
      <span class="event_upper-row__tax ">（税込）</span>
    </div>
    <table class="event-detail-table">
      <tbody>
        <tr>
          <th>出展者</th>
          <td>
            <%= link_to "#" do %>
              <span><%= @user.nickname %></span>
            <% end %>
            <%# ここにレビュー機能入れる予定 %>
            <div class="rating-star">
              <i class="fas fa-grin"></i>
               <span>2020</span>	
            </div>
          </td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td>
            <%# ここはパンくずで実装する予定 %>
            <%= link_to "和食"  %>
            >	
            <%= link_to "和食・日本料理"  %>
            >
            <%= link_to "季節料理"  %>
          </td>
        </tr>
        <tr>
          <th>開催日程</th>
          <td>
            <div class="event-detail-date">
              1月25日（土）
            <div class="event-detail-time">
              18:30-20:30
          </td>
        </tr>
        <tr>
          <th>受付状況</th>
          <td>
            <div class="event-detail-participants">
              <div class="event-detail-state">
                受付中
              </div>
              <div class="event-detail-capacity">
                参加人数 7/8人
              </div>
          </td>
        </tr>
        <tr>
          <th>場所</th>
          <td>
            <div class="event-detail-place">
              地下鉄 明治神宮駅 徒歩3分
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="event-reservation-btn">
      <%= link_to confirmation_events_path, class:"btn-default btn-green" do%>
        予約画面に進む
      <% end %>
    </div>

  </div>
</section>